* {
    padding: 0;
    margin: 0;
}

main {
    width: 100%;
    height: 100%;
}

#character {
    width: 20px;
    height: 30px;
    background-color: red;
    position: relative;
    top: 22px;
    left: 4px;
}
.jump {
    animation: jump 500ms;
}
@keyframes jump {
    0%{top: 22px;}
    30%{top: 2px;}
    70%{top: 2px;}
    100%{top: 22px;}
}

.blocks-container {
    display: flex;
    width: 500px;
}

.block-green {
    background-color: green !important;
    width: 25px !important;
}
.block {
    width: 20px;
    height: 18px;
    background-color: blue;
    position: relative;
    top: 4px;
    left: 180px;
    animation: block 0.7s infinite linear;
}
@keyframes block {
    0%{right:400px}
    100%{left:-5px;}
}

.faster {
    animation: block 0.6s infinite linear;
}

.faster-2 {
    animation: block 0.5s infinite linear;
}

.faster-3 {
    animation: block 0.4s infinite linear;
}

.faster-4 {
    animation: block 0.3s infinite linear;
}

.faster-5 {
    animation: block 0.2s infinite linear;
}


