<main class="main">
    <div class="calculator">
        <div class="display"><div class="game" *ngIf="game"><app-secret-game [game]="game" (gameLost)="handleGameLost($event)"></app-secret-game></div> <span class="display-numbers" *ngIf="!game">{{ display }}</span></div>

        <div class="numbers-container">
            <div class="button button-1" (click)="handleNumberInput(1)">1</div>
            <div class="button button-2" (click)="handleNumberInput(2)">2</div>
            <div class="button button-3" (click)="handleNumberInput(3)">3</div>
            <div class="button button-4" (click)="handleNumberInput(4)">4</div>
            <div class="button button-5" (click)="handleNumberInput(5)">5</div>
            <div class="button button-6" (click)="handleNumberInput(6)">6</div>
            <div class="button button-7" (click)="handleNumberInput(7)">7</div>
            <div class="button button-8" (click)="handleNumberInput(8)">8</div>
            <div class="button button-9" (click)="handleNumberInput(9)">9</div>
            <div class="button button-equals" (click)="calculate()">=</div>
            <div class="button button-0" (click)="handleNumberInput(0)">0</div>
            <div class="button button-clear" (click)="clear()">C</div>
        </div>
    
        <div class="operators-container">
            <div class="button button-operator" (click)="handleOperation('x')">x</div>
            <div class="button button-operator" (click)="handleOperation('/')">/</div>
            <div class="button button-operator" (click)="handleOperation('+')">+</div>
            <div class="button button-operator" (click)="handleOperation('-')">-</div>
            <div class="button button-operator" (click)="handleDecimal()">.</div>
            <div class="button button-branch" (click)="handlejumpButton()">Cassio</div>
            <div class="button button-operator" (click)="showGame()">?</div>
        </div>
    </div>
</main>