<main class="main">
    <h1 class="title">Calculadora</h1>

    <div class="calculator">
        <div class="display"></div>

        <div class="numbers-container">
            <div class="button button-1">1</div>
            <div class="button button-2">2</div>
            <div class="button button-3">3</div>
            <div class="button button-4">4</div>
            <div class="button button-5">5</div>
            <div class="button button-6">6</div>
            <div class="button button-7">7</div>
            <div class="button button-8">8</div>
            <div class="button button-9">9</div>
            <div class="button button-null"></div>
            <div class="button button-0">0</div>
            <div class="button button-null"></div>
        </div>
    
        <div class="operators-container">
            <div class="button button-m">x</div>
            <div class="button button-d">/</div>
            <div class="button button-a">+</div>
            <div class="button button-s">-</div>
        </div>
    </div>
</main>